.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px #000 solid;    
    border-radius: 10px;
    width: 170px;
    padding: 5px;
}

.year {
    border: 3px #fff solid;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

.year:hover {
    color: #fff;
    background-color: #000;
}

.months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 170px;    
    padding: 5px;
}

.month {    
    display: flex;
    justify-content: center;
    margin: 1px;
    padding-bottom: 5px;
    width: 35px;
    border: 3px #000 solid;
    border-radius: 10px;
    cursor: pointer;
}

.currentMonth {
    background-color: #63aff7 !important;
}

.month:hover {
    background-color: #000;
    color: #ffffff;
}