.root {
    margin: 20px;
    min-height: 150px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 135px;
    cursor: pointer;
}

.iconSvg path{
    fill: var(--color);
}

.date {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}