@page {
  size: A4;
  margin: 11mm 17mm 17mm 17mm;
}

@media print {
  footer {
    display: flex !important;
    justify-content: space-between;
    position: fixed;
    bottom: 0;    
    max-width: 900px;
  }

  .userName {
    position: fixed !important;
    left: 0 !important;
    bottom: 0;
  }

  .line {
    width: 100px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
  }

  .signature {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: fixed !important;
    right: 100px !important;
    bottom: 0;
  }
  
  .textBoard p {page-break-inside: avoid;}

  .buttons {display: none !important;}

  .footerFullName {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    position: fixed;
    bottom: 0px;
    left: 50px;
    color: red;
  }
  
  .footerSignature {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    position: fixed;
    bottom: -30px;
    right: 50px;
  }
}

.root {
  margin-left: 30px;
}

.root p,
.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  color: var(--color);
}
.root button{
  margin-right: 15px;
}
.root a:hover{
  color: var(--color) !important;
}

.root li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.root span {
  color: var(--color);
  margin-right: 10px;
}

.linkAndTitle {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.backArrow {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: var(--color);
}

.backArrow:hover {
  color: var(--color-link);
}

.buttonUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  background-color: var(--background-color);
  font-size: 18px;
  text-decoration: none;
}

.buttonDown{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 5px;
  border-radius: 10px;
  margin: 5px 10px 0 0;
  padding: 10px 10px 10px 10px;
  color: var(--color);
  background-color: var(--background-color);
  width: 250px;
  font-size: 18px;
}

.buttonDown:hover {
  color: var(--color-link);
  transition: 0.5s;
}

.buttonUp:hover {
  transition: 0.5s;
  color: var(--color-link)
}

.svgButton {
  fill: var(--color);
  margin-right: 10px;
}

.buttonDown:hover svg {
  fill: var(--color-link);
  transition: 0.5s;
}

.buttonUp:hover svg {
  fill: var(--color-link);
  transition: 0.5s;
}

.textBoard {
  max-width: 900px;
}

footer {
  display: none;
}